$accent: #C0B283;
$accent2: #F9F9F4;
$silk: #DCD0C0;
$offwhite: #F4F4F4;
$charcoal: #373737;
$dusty: #96858F;
$primary: #232f59;
$overcast: #9099A2;
$paper: #D5D5D5;
$danger: #974c48;
$background: #9388A9;
$warning: #db7452;
