@import './colors';

$box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$box-shadow-primary: 0 3px 6px rgba($primary, 0.4), 0 3px 6px rgba($primary, 0.45);
$kk-min-height: calc(100vh - 340px);
