$kk-fonts-header: 'Nanum Gothic Condensed', sans-serif;
$kk-fonts-primary: 'Nanum Gothic', sans-serif;

$kk-fontsize-sm: 0.8rem;
$kk-fontsize-md: 1rem;
$kk-fontsize-lg: 1.4rem;
$kk-fontsize-xl: 2rem;

$kk-header-sm: 1.75rem;
$kk-header-md: 2rem;
$kk-header-lg: 2.25rem;
$kk-header-xl: 2.75rem;

