$agl-fonts-header: 'Open Sans Condensed', sans-serif;
$agl-fonts-primary: 'Open Sans', sans-serif;

$agl-fontsize-sm: 0.8rem;
$agl-fontsize-md: 1rem;
$agl-fontsize-lg: 1.4rem;
$agl-fontsize-xl: 2rem;

$agl-header-sm: 1.75rem;
$agl-header-md: 2rem;
$agl-header-lg: 2.25rem;
$agl-header-xl: 2.75rem;

