@import 'variables/colors';
@import 'variables/typography';

// Global styles
* {
    box-sizing: border-box;
}
html, body {
    background: $offwhite;
    overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
div {
    font-family: $kk-fonts-primary;
    color: $dark-gray;
}
h1 {
    font-size: $kk-header-xl;
}
h2 {
    font-size: $kk-header-lg;
}
h3 {
    font-size: $kk-header-md;
}
h4 {
    font-size: $kk-header-sm;
}
p,
a,
span,
li,
div {
    font-size: $kk-fontsize-md;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    display: inline-block;
    width: 100%;
}
