@import 'variables/colors';
@import 'variables/typography';
@import 'variables/spacing';

// Global styles
* {
    box-sizing: border-box;
}
html, body {
    background: $offwhite;
}
html.no-scroll {
    overflow: hidden;
}
body {
    overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
span,
input,
textarea,
label,
div {
    font-family: $kk-fonts-primary;
    color: $dark-gray;
}
h1 {
    font-size: $kk-header-xl;
}
h2 {
    font-size: $kk-header-lg;
}
h3 {
    font-size: $kk-header-md;
}
h4 {
    font-size: $kk-header-sm;
}
p,
a,
span,
li,
div {
    font-size: $kk-fontsize-md;
}
a {
    text-decoration: none;
    color: inherit;
    &:active,
    &:focus {
        outline: none;
    }
}
img {
    display: inline-block;
    width: 100%;
}
ul {
    list-style-type: disc;
    list-style-position: inside;
}
input[type=text],
input[type=email],
input[type=date],
input[type=tel],
input[type=password],
textarea {
    display: block;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 3px;
    padding: $kk-spacing-sm;
}
textarea {
    resize: none;
    min-height: 150px;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5rem;
}
.kk-color-accent {
    color: $accent;
}
.kk-color-primary {
    color: $primary;
}
.kk-color-offwhite {
    color: $offwhite;
}
.kk-color-peach {
    color: $peach;
}

